<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
<title>{{=response.title or request.application}}</title>
  <!--[if !HTML5]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
  <![endif]-->
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
	   
  <meta charset="utf-8" />

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />

  <!-- Speaking of Google, don't forget to set your site up:
       http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />

  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
        device-width: Occupy full width of the screen in its current orientation
        initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
        user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

  <!-- include stylesheets -->
  {{
  response.files.insert(0,URL('static','css/web2py.css'))
  response.files.insert(1,URL('static','bootstrap/css/bootstrap.min.css'))
  response.files.insert(1,URL('static','bootstrap/css/bootstrap-theme.css'))
  response.files.insert(2,URL('static','css/bootstrap-responsive.min.css'))
  response.files.insert(3,URL('static','plugin_process/css/admin.css'))
     response.files.insert(4,URL('static','plugin_app/css/admin.css'))
  }}
  <script src="{{=URL('static','bootstrap/js/bootstrap.min.js')}}"></script>
  {{include 'web2py_ajax.html'}}

  {{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = globals().get('left_sidebar_enabled',True)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  middle_columns = {0:'span12',1:'span9',2:'span6'}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
  }}
  <!-- uncomment here to load jquery-ui
       <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
       <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
       uncomment to load jquery-ui //-->
  <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
  {{block head}}{{end}}
</head>

<body>
  <!-- Navbar ================================================== -->
<div class="flash">{{=response.flash or ''}}</div>
   <div class="navbar navbar-inverse navbar-fixed-top navbar-ivinh">
    
    <div class="navbar-inner">
     <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#">HỆ THỐNG QUẢN TRỊ</a>
        </div>

		
		
		<ul class="nav navbar-nav menu_dashboard">
			 <li><a href="{{=URL(c='plugin_app',f='index')}}">Bảng điều khiển</a></li>
			 {{ menu_link= cms.define_table(tablename ='menu_link',migrate=True)}}
			{{rows=cms.db(menu_link.r_menu_type==1).select(orderby=menu_link.weight)}}
		    {{for row in rows:}}
				{{if (auth.has_membership(role='admin') or auth.has_membership(role=row.role)):}}
				<li>
				{{tmp = row.url.split('/')
					if len(tmp)>1:
						c, f = tmp[0], tmp[1] 
					else: 
						c =  tmp[0]
						f = 'index'
					pass
					url = URL(r=request,c=c,f=f,extension='html')	
				}}	
				<a href="{{=url}}"> {{=str(row.name)}}</a>
			   </li>
			   {{pass}}
		  {{pass}}
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li> {{='auth' in globals() and auth.navbar(mode="dropdown") or ''}}</li>
			
		</ul>
      </div>
    </div>
  </div><!--/top navbar -->

  <div class="container-fluid">
    <!-- Masthead ================================================== -->
	
<!-- 	<div class="col-md-2 sidebar">
	  <div class="bs-docs-sidebar hidden-print affix-top" role="complementary">
		 {{block left_sidebar}}
			{{include 'plugin_process\menu.html'}}
		{{end}}
		
	  </div>
	</div> -->
	<div class="col-md-12" role="main">
	    {{block center}}
		<br/>
		<br/>
		<br/>
		<br/>
{{if (auth.has_membership(role='admin') or auth.has_membership(role='ql_danh_muc')):}}
	<div class="placeholders">
	
		<div class="placeholder">
				
			<a href="{{=URL(c='plugin_manager',f='linh_vuc.html')}}">
				<img class="img-responsive" src="{{=URL(c='static',f='plugin_tools/images/category-128.png')}}">
				 
				  <h4>Danh mục hàng hóa</h4>
			</a>
		</div>
		
		<div class="placeholder">
				
			<a href="{{=URL(c='plugin_manager',f='loca_ads.html')}}">
				<img class="img-responsive" src="{{=URL(c='static',f='plugin_tools/images/ad-128.png')}}">
				 
				  <h4>Vị trí đặt quảng cáo</h4>
			</a>
		</div>
		
		<div class="placeholder">
				
			<a href="{{=URL(c='plugin_manager',f='type_ads.html')}}">
				  <img class="img-responsive" src="{{=URL(c='static',f='plugin_tools/images/ads-128.png')}}"> 
				  <h4>Kiểu quảng cáo</h4>
			</a>
		</div>
		
		<div class="placeholder">
				
			<a href="{{=URL(c='plugin_manager',f='contact.html')}}">
				  <img class="img-responsive" src="{{=URL(c='static',f='plugin_tools/images/grey_new_seo2-41-128.png')}}">
				  <h4>Thông tin hỗ trợ</h4>
			</a>
		</div>
		
		<div class="placeholder">
				
			<a href="{{=URL(c='plugin_process',f='explorer',args=['website','soanthao','san-pham-dac-trung'])}}">
				  <img class="img-responsive" src="{{=URL(c='static',f='plugin_tools/images/12-128.png')}}">
				  <h4>Sản phẩm đặc trưng</h4>
			</a>
		</div>
		<div class="placeholder">
				
			<a href="{{=URL(c='plugin_process',f='explorer',args=['website','soanthao','chuyen-gia'])}}">
				  <img class="img-responsive" src="{{=URL(c='static',f='plugin_tools/images/chuyen_gia.png')}}">
				  <h4>Chuyên gia tư vấn</h4>
			</a>
		</div>
		<div class="placeholder">
				
			<a href="{{=URL(c='plugin_process',f='explorer',args=['website','soanthao','chu_gian_hang'])}}">
				  <img class="img-responsive" src="{{=URL(c='static',f='plugin_tools/images/help-128.png')}}">
				  <h4>Hướng dẫn chủ gian hàng</h4>
			</a>
		</div>
		<div class="placeholder">
				
			<a href="{{=URL(c='plugin_process',f='explorer',args=['website','soanthao','nguoi-mua-hang'])}}">
				  <img class="img-responsive" src="{{=URL(c='static',f='plugin_tools/images/help-128.png')}}">
				  <h4>Hướng dẫn người mua hàng</h4>
			</a>
		</div>
		
		<div class="placeholder">
				
			<a href="{{=URL(c='plugin_process',f='explorer',args=['website','soanthao','gioi-thieu'])}}">
				  <img class="img-responsive" src="{{=URL(c='static',f='plugin_tools/images/introduce_B-128.png')}}">
				  <h4>Giới thiệu</h4>
			</a>
		</div>
		<div class="placeholder">
				
			<a href="{{=URL(c='plugin_process',f='explorer',args=['website','soanthao','chinh-sach'])}}">
				  <img class="img-responsive" src="{{=URL(c='static',f='plugin_tools/images/policy-128.png')}}">
				  <h4>Chính sách</h4>
			</a>
		</div>
		<div class="placeholder">
				
			<a href="{{=URL(c='plugin_process',f='explorer',args=['website','soanthao','quy-dinh'])}}">
				  <img class="img-responsive" src="{{=URL(c='static',f='plugin_tools/images/equlizer-128.png')}}">
				  <h4>Quy định</h4>
			</a>
		</div>
		<div class="placeholder">
				
			<a href="{{=URL(c='plugin_process',f='explorer',args=['website','soanthao','tin-tuc-moi'])}}">
				  <img class="img-responsive" src="{{=URL(c='static',f='plugin_tools/images/equlizer-128.png')}}">
				  <h4>Tin tức mới</h4>
			</a>
		</div>
		
		<div class="placeholder">
				
			<a href="{{=URL(c='plugin_process',f='explorer',args=['website','soanthao','danh-ba-doanh-nghiep'])}}">
				  <img class="img-responsive" src="{{=URL(c='static',f='plugin_tools/images/equlizer-128.png')}}">
				  <h4>Danh bạ doanh nghiệp</h4>
			</a>
		</div>
		
		<div class="placeholder">
				
			<a href="{{=URL(c='plugin_process',f='explorer',args=['website','soanthao','van-ban-moi'])}}">
				  <img class="img-responsive" src="{{=URL(c='static',f='plugin_tools/images/equlizer-128.png')}}">
				  <h4>Văn bản mới</h4>
			</a>
		</div>
		<div class="placeholder">
				
			<a href="{{=URL(c='plugin_process',f='explorer',args=['website','soanthao','san-pham-tim-mua'])}}">
				  <img class="img-responsive" src="{{=URL(c='static',f='plugin_tools/images/equlizer-128.png')}}">
				  <h4>Thông tin tìm mua</h4>
			</a>
		</div>
		
		
		
	</div>
	{{else:}}
<h2>Bạn không có quyền trong quản lý quảng cáo</h2>
{{pass}}
	<div class="clearfix"></div>
      {{if request.function =='explorer':}}
			<div class="breadcrumb">
			  {{from plugin_cms import CmsFolder }}
		{{=XML(CmsFolder().breadcrumb(parent=request.args(2)))}}
			  
			  {{ from plugin_process import ProcessCms
					 menu = ProcessCms() }}
					{{=menu.menu_news()}}
			 </div>
			{{pass}}
			<div id="wrapper_mesages"></div>
            {{include}}
            {{end}}
	
	</div>
   

  </div> <!-- /container -->

  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
  <!--[if lt IE 7 ]>
      <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
      <![endif]-->
  
  {{if response.google_analytics_id:}}
  <script src="{{=URL('static','js/analytics.min.js')}}"></script>
  <script type="text/javascript">
  analytics.initialize({
    'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'} 
  });</script>
  {{pass}}
</body>
</html>

