{{extend 'layout/home_13.html'}}
{{if request.function=='read':}}
{{=cms.box('news_detail',tablename=request.args(1))}}


<div class="fb-comments" data-href="http://hatinhtrade.com.vn{{=URL(c='portal',f='read',args=request.args)}}" data-version="v2.3" data-numposts="5"  data-order-by="time" data-width='100%'></div>
{{else:}}
<a href='{{=URL(c="portal",f="tao_tin_tim_mua")}}' style=" text-align: center;   width: 100%;    display: block;"><img src='{{=URL(c="static",f="images/timmua.jpg")}}'></a>
{{=cms.box("list_news")}} 
{{pass}}

			

